<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<script>
    function verifyData(){
        var u=document.forms["Register_Form"]["UserName"].value;
        var p=document.forms["Register_Form"]["PassWord"].value;
        if (u==null||u==''){
            alert("账号不可为空");
            return false;
        }
        if (p==null||p==''){
            alert("密码不可为空");
            return false;
        }
        if(u.length<4){
            alert("用户名不可少于4位");
            return false;
        }
        if(p.length<10){
            alert("密码不可少于10位");
            return false;
        }
        return true;

}
</script>
<body>
    <form action='/register/' method="post" name="Register_Form" onsubmit="return verifyData()">
            {% csrf_token %}
            UserName:<input type="text" name="UserName"><br>
            PassWord:<input type="password" name="PassWord"><br>
            Email:<input type="email" name="Email"><br>
            <input type="submit" value="提交">
        </form>
</body>
</html>