<!doctype html>
<html lang="zh-cn">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome/css/font-awesome.min.css">
    <title>Blog</title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
        //废弃的初始验证登陆
        // $(document).ready(function () {
        //     $.ajax({//请求是否已经登陆,如果已经登陆,返回用户名
        //         type: "GET",//请求方式
        //         url: "/is_login/",//地址，就是json文件的请求路径
        //         success: function (result) {//返回的参数就是 action里面所有的有get和set方法的参数
        //             console.log('return login data success');
        //             console.log(result);
        //             console.log(result.is_login);
        //             if (result.is_login) {
        //                 console.log(result.USN);
        //                 $("#userInfo").text(result.USN);
        //                 $("#login_false").attr("hidden", "hidden");
        //                 $("#login_true").removeAttr("hidden");
        //             }
        //         }
        //     });
        // })
        $(document).ready(function () {
            console.log('ready')
            //第一次请求数据
            GetArticle(1, 5)
            /*jquery.scrolltop() 
                Get the current vertical position of the scroll
                bar for the first element in the set of matched elements
                垂直滚动位置与可滚动区域上方的视图中隐藏的像素数相同。
                如果滚动条位于最顶部，或者该元素不可滚动，则此数字将为0。
            */
            /*$(document).height()
                获取文档流总长度
            */
            /*$(window).height()：浏览器可视窗口的高度*/
            
            
            $(window).scroll(function () {
                //i=$("#article-content .card:last-child");
                //height=i.outerHeight();
                console.log('----------------------');
                console.log($(document).scrollTop());
                console.log($(document).height());
                console.log($(window).height());
                if ($(document).scrollTop() >= $(document).height() - $(window).height() - 1) {
                    GetArticle(parseInt($("#article-content .card:last-child").attr("data-id")) + 1, 5);
                }
            })
        })
        function if_has_no_enough_articl(){//判断界面是否已经被充满至出现滚动条
            return ($(document).height()== $(window).height())
        }
        function GetArticle(s, n) {
            console.log("test")
            $.ajax({
                type: "POST",//请求方式
                url: "../articlelist/",//地址，就是json文件的请求路径
                data: { start: s, num: n },
                dataType: "json",//数据类型可以为 text xml json  script  jsonp
                success: function (result) {//返回的参数就是 action里面所有的有get和set方法的参数
                    console.log(result.num)
                    if (result.num) {
                        for (var A in result.Article) {
                            addArticle(result.Article[A])
                        }
                    }
                    else {
                        console.log("已经没有数据了")
                    }
                    if(if_has_no_enough_articl()){
                        GetArticle(s, n)
                        console.log('文章数量不够,继续加载')
                    } 
                        
                }
            });
        }

        function addArticle(json) {
            $("#article-content").append(
                "<div class='card' data-id=" + json['id'] + "><div class='card-header'> <h5 class='card-title'>"+json['Title']+"</h5></div><div class='card-body'><h6 class='card-subtitle mb-2 text-muted'>" + json['Title'] + "</h6><p class='card-text'>" + json['Content'] + "</p> <time class='time'><i class='glyphicon glyphicon-time'></i>" + json["Launch_Time"] + "</time><span class='views'><i class='glyphicon glyphicon-eye-open'></i> 共" + json['ViewCount'] + "次浏览</span> <span class='views'><i class='glyphicon glyphicon-eye-open'></i>点赞数" + json['LikeCount'] + "</span></div><div class='card-footer'><a href=" + "../article/" + json['id'] + " class='card-link'>阅读全文</a></div>   </div>"
            )
        };

    </script>
</head>

<body>
    <!--整页的页头-->
    <header class="header">
        <!--导航栏-->
        <div class="jumbotron " style="margin-bottom:0;">
            <h1 class="display-4">欢迎访问我的博客</h1>
            <p class="lead">在这里可以看到前端技术，后端程序，网站内容管理系统等文章，还有我的程序人生！</p>
            <!--<hr class="my-4">
                                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
        </div>
        {% include "nav.html" %}
    </header>


    <!--comtainer-->
    <section class="body">
        <div class="container-fluid row justify-content-around">
            <!--<nav class="col-sm-2 navbar-collapse hidden-xs" id="nav-right">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </nav>-->

            <div class="col-12 col-md-8 content-wrap" id="article-content">
                <!--<div class="card">
                    <div class="card-body">
                        <h5 class="card-title">【今日推荐】</h5>
                        <h6 class="card-subtitle mb-2 text-muted">从下载看我们该如何做事</h6>
                        <p class="card-text">一次我下载几部电影，发现如果同时下载多部要等上几个小时，然后我把最想看的做个先后排序，去设置同时只能下载一部，结果是不到一杯茶功夫我就能看到最想看的电影。
                            这就像我们一段时间内想干成很多事情，是同时干还是有选择有顺序的干，结果很不一样。同时...</p>
                        <a href="#" class="card-link">阅读全文</a>
                    </div>
                </div>
                <div class="card" data-id="0">
                    <div class="card-body">
                        <h5 class="card-title">【最新发布】</h5>
                        <h6 class="card-subtitle mb-2 text-muted">php如何判断一个日期的格式是否正确</h6>
                        <p class="card-text">可以用strtotime()把日期（$date）转成时间戳，再用date()按需要验证的格式转成一个日期，来跟$date比较是否相同来验证这个日期的格式是否是正确的。所以要验证日期格</p>
                        <time class="time"><i class="glyphicon glyphicon-time"></i> 2016-1-4 10:29:39</time>
                        <span class="views"><i class="glyphicon glyphicon-eye-open"></i> 共120人围观</span>
                        <a class="card-link" href="article.html#comment">
                            <i class="glyphicon glyphicon-comment"></i> 0个不明物体</a></p>
                    </div>
                </div>-->
            </div>

            <aside class="col-12 col-md-2  ">
                <div class="report" style="height:33%">
                    <div class="card">
                        <div class="card-header text-center">
                            <p>公告</p>
                        </div>
                        <div class="card-body" style="padding: 0">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="../article/1 ">这是第一条公告</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="../article/2 ">这是第二条公告</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="../article/3">这是第三条公告</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center">
                            <p>最新文章</p>
                        </div>
                        <div class="card-body" style="padding: 0">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="../article/1 ">这是第一篇文章</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="../article/2 ">这是第二篇文章</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="../article/3 ">这是第三篇文章</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center">
                            <p>热门文章</p>
                        </div>
                        <div class="card-body" style="padding: 0">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="javascript:void(0) ">这是第一篇文章</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javascript:void(0) ">这是第二篇文章</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="javascript:void(0) ">这是第三篇文章</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>


    </section>
    <!--footer-->
    <footer class="footer" hidden>
        <div class="container">
            <p>&copy; 2016 <a href="">*****.com</a> &nbsp; <a href="#" target="_blank" rel="nofollow">豫ICP备20151109-1</a>
                &nbsp; &nbsp; <a href="#" target="_blank">blog</a></p>
        </div>
        <div id="gotop"><a class="gotop"></a></div>
    </footer>


</body>

</html>