<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/mdui.min.css" />
    <script src="/static/js/mdui.min.js"></script>
    <script>
        function verifyData() {
            console.log('verfydata start');
            var sel_c = document.getElementById('class');
            var c = sel_c.value;//班级

            var sel_co = document.getElementById('college');
            var college = sel_co.value;//学院

            var snum = document.getElementById('stdNumber').value;//学号
            var genter = document.getElementsByName('genter');//性别
            if (genter[0].checked == true) {
                g = '男';//男
            }
            else {
                g = '女';//女
            }
            var hobby = document.getElementsByName('hobby');//爱好
            var hobbyList = new Array();
            for (var i = 0; i < hobby.length; i++) {
                if (hobby[i].checked == true)
                    hobbyList.push(hobby[i].value);
            }
            console.log(c)
            console.log(college)
            console.log(genter)
            console.log(snum)
            console.log(g)
            console.log(hobbyList)
            var r = confirm('确认信息\n' + sel_c.options[sel_c.selectedIndex].text + '\n' + sel_co.options[sel_co.selectedIndex].text + '\n' + snum + '\n' + g);
            if (r == true) {
                return true;
            }

            return false;
        }
        function previewImg(obj) {
            var file = obj.files[0];
            var fileReader = new FileReader();
            fileReader.onload = function (e) {
                var img = document.getElementById("img");
                img.src = e.target.result;
            };
            fileReader.readAsDataURL(file);
        }
        function cleanImg() {
            var img = document.getElementById("img");
            img.src = "/static/images/img.png";
        }
        function SelectImg() {
            var fileInput = document.getElementById("pic");
            fileInput.click();
        }
    </script>
    <style>
        html,
        body {
            height: 100%;
        }

        .doc-container {
            padding-top: 80px;
            padding-bottom: 100px;
        }
    </style>
</head>

<body class="mdui-appbar-with-toolbar mdui-drawer-body-left mdui-theme-primary-indigo" style="padding-top: 20px;">
    <div class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-indigo">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer'}"><i class="mdui-icon material-icons">menu</i></a>
            <div class="mdui-toolbar-spacer"></div>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
        </div>
    </div>
    <div class="mdui-drawer mdui-drawer-open" id="main-drawer">
        <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
            <div class="mdui-collapse-item ">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-deep-orange">account_circle</i>
                    <div class="mdui-list-item-content">我的</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <div class="mdui-collapse-item-body mdui-list">
                    <a class="mdui-list-item mdui-ripple ">账户信息</a>

                </div>
            </div>
        </div>
    </div>
    <div class="mdui-container doc-container doc-no-cover">
        <div class="mdui-card">
            <form action='' method="post" id="Register_Form" style="margin: 0 auto;" onsubmit="return verifyData()">
                {% csrf_token %}
                <table style="margin: 0 auto;">
                    <tr>
                        <td>头像:</td>
                        <td>
                            <img src='/static/images/img.png' id="img" style="height: 80px;width:80px;border-radius:50%;"
                                onclick="SelectImg()">
                            <input name="avater" type="file" accept="image/*" id="pic" style="display: none;" onchange="previewImg(this)"></td>
                    </tr>
                    <tr>
                        <td>班级:</td>
                        <td><select name="class" id="class" class="mdui-select">
                                <option value="0">信管1701</option>
                                <option value="1" selected="selected">信管1702</option>
                                <option value="2">信管1703</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td>所在学院:</td>
                        <td><select name="college" id="college" class="mdui-select">
                                <option value="0">材料科学与工程学院</option>
                                <option value="1">交通学院</option>
                                <option value="2" selected="selected">管理学院</option>
                                <option value="3">汽车工程学院</option>
                                <option value="4">机电工程学院</option>
                                <option value="5">物流学院</option>
                                <option value="6">信息工程学院</option>
                                <option value="7">自动化学院</option>
                                <option value="8">计算机科学与技术学院</option>
                                <option value="9">理学院</option>
                                <option value="10">能源与动力工程学院</option>
                                <option value="11">航运学院</option>
                                <option value="12">土木工程与建筑学院</option>
                                <option value="13">化学工程学院</option>
                                <option value="14">资源与环境工程学院</option>
                                <option value="15">经济学院</option>
                                <option value="16">文法学院</option>
                                <option value="17">艺术与设计学院</option>
                                <option value="18">政治与行政学院</option>
                                <option value="19">外国语学院</option>
                                <option value="20">国际教育学院</option>
                                <option value="21">体育部</option>
                                <option value="22">马克思主义学院</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">学号</label>
                                <input name="stdNumber" id="stdNumber" class="mdui-textfield-input" maxlength="20" type="number" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>性别:</td>
                        <td>
                            <div class="mdui-row-md-2">

                                <div class="mdui-col">
                                    <label class="mdui-radio">
                                        <input type="radio" name="genter" value="0" checked />
                                        <i class="mdui-radio-icon"></i>
                                        男
                                    </label>
                                </div>
                                <div class="mdui-col">
                                    <label class="mdui-radio">
                                        <input type="radio" name="genter" value="1" />
                                        <i class="mdui-radio-icon"></i>
                                        女
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            爱好:
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="mdui-row-md-4">
                                <div class="mdui-col">
                                    <label class="mdui-checkbox">
                                        <input type="checkbox" name='hobby' value='0' />
                                        <i class="mdui-checkbox-icon"></i>
                                        阅读
                                    </label>
                                </div>
                                <div class="mdui-col">
                                    <label class="mdui-checkbox">
                                        <input type="checkbox" name='hobby' value='1' />
                                        <i class="mdui-checkbox-icon"></i>
                                        运动
                                    </label>
                                </div>
                                <div class="mdui-col">
                                    <label class="mdui-checkbox">
                                        <input type="checkbox" name='hobby' value='2' />
                                        <i class="mdui-checkbox-icon"></i>
                                        游戏
                                    </label>
                                </div>
                                <div class="mdui-col">
                                    <label class="mdui-checkbox">
                                        <input type="checkbox" name='hobby' value='3' />
                                        <i class="mdui-checkbox-icon"></i>
                                        音乐
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>上传文件:</td>
                        <td><input type="file" class="mdui-btn mdui-color-theme-accent mdui-ripple"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="mdui-textfield mdui-textfield-floating-label">
                                <label class="mdui-textfield-label">备注</label>
                                <textarea maxlength="50" name='remark' class="mdui-textfield-input"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="control" style="margin: 0 auto;">
                                <button class="mdui-btn" type="reset" onclick="cleanImg()">重置</button>
                                <input class="mdui-btn" type="submit" value="提交">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

</html>